# 构建并发布
name: 构建并发布

# 触发条件：创建 Release 时
on:
  release:
    types: [ published ]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: 检出代码
      uses: actions/checkout@v4

    - name: 设置 Python 环境
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: 安装依赖
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: 安装 Nuitka
      run: |
        pip install nuitka

    - name: 在 Windows 上构建
      if: matrix.os == 'windows-latest'
      run: |
        python scripts/deploy.py
      shell: cmd

    - name: 在 macOS 上构建
      if: matrix.os == 'macos-latest'
      run: |
        python3 scripts/deploy.py

    - name: 在 Linux 上构建
      if: matrix.os == 'ubuntu-latest'
      run: |
        python scripts/deploy.py

    - name: 上传 Windows 可执行文件
      if: matrix.os == 'windows-latest'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./dist/GetFileSha.exe
        asset_name: GetFileHash-Windows.exe
        asset_content_type: application/octet-stream

    - name: 上传 macOS 可执行文件
      if: matrix.os == 'macos-latest'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./dist/main
        asset_name: GetFileHash-macOS
        asset_content_type: application/octet-stream

    - name: 上传 Linux 可执行文件
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./dist/main
        asset_name: GetFileHash-Linux
        asset_content_type: application/octet-stream